body{background-image: linear-gradient(lightblue, #0D698B); color: #000; font-family: 'IBM Plex Serif', serif; font-size: 16px; margin: 0px; padding:0px;}
.wrapper{width: 1200px; height: auto; margin: 0px auto; padding: 20px; background-color: white; border-radius: 20px;}
.logo{width: 100px; height: 100px; margin-right: 30px; float: left;}
.header{width: 1070px; height: 100px; float: left;}
.navmenu{width: 1200px; height: 40px; background-color: #1E3D58;}
.clearer{clear: both; margin: 5px;}
.content{width: 870px; height: auto; float: left; margin-right: 30px;}
.rightbar{width: 300px; height: auto; float: left;}
.gallery{width: 1200px; height: auto;}
.footer{width: 1200px; height: auto;background-color: #1E3D58; color: white; padding: 5px;}
.header h1{font-weight: bold; font-size: 55px; text-shadow: 2px 2px black; color: #32527B; line-height: 100px; margin: 0px; padding: 0px;}
.navmenu a{display: inline-block; color: #E8EEF1; text-decoration: none; font-weight: bold; text-transform: uppercase; line-height: 40px; 
	text-align: center; padding: 0px 30px; border-radius: 15px;}
.navmenu a:hover{background-color: #0D698B; color: black; font-weight: bold;}
.navmenu a.active{background-color: #32527B; color: black;}
.footer {text-align: center; padding: 10px;}
.footer a{display: inline-block; color: orange; font-weight: bold; text-decoration: none; margin: 5px;}
.footer a:hover{text-decoration: underline;}
.footer a.top:hover{color: white;}
h2{color: #1E3D58; }

@media only screen and (max-width: 600px)
{
  .wrapper{width: auto;}
  .header{width: auto;}
  .navmenu {width: auto; height: auto;}
  .content {width: auto;}
  .gallery {width: auto;}
  .footer {width: auto;}
}

.content p{text-align: justify; font-size: 17px;}
.content a:hover{color: tomato;}

